
// The origin of the world should be very firm!
#yggdrasil {
  position: absolute;
  padding: 0px;
}

#page-header {
  margin: 8px;
  padding: 8px;
  background: $headerBG;
  color: $headerColor;
  height: 4rem;
}

#page-content-wrapper {
  margin: 8px;
  padding: 8px;
  background: #efefef;
  height: calc(100vh - 32px - 4rem);
  overflow-y: scroll;
}

#messages-and-errors {
  position: absolute;
  right: 2vw;
  top: 3vh;
  z-index: 1;
}

