#yggdrasil {
  margin-left: 14rem
}

#side-navbar {
  padding: 0.7rem;
  height: 100%;
  width: 14rem;
  position: fixed;
  overflow-x: hidden; // No horizontal scroll
  background: #3c3c3c
}

#side-navbar-header {
  color: white;
  font-size: 30px;
  text-align: center;
}

#side-navbar-menu {
  list-style-type: none; // Remove the bullets
  padding: 0; // Remove the auto padding
}

.side-navbar-item {
  background: #313131;
  margin: 8px;
  padding: 4%;
}

#side-navbar .dropdown-menu {
  background-clip: content-box;
  background: transparent;
  border: none;
  padding: 0;
  width: 100%;
}

#side-navbar .dropdown-menu .side-navbar-item {
  margin-left: 12%; // Indent subitems
}

.side-navbar-link {
  margin: 6px 0;
  display: block; // Let the link fill the whole div
  color: white;
}

.side-navbar-link:hover {
  color: red;
  text-decoration: none;
}

