
#login-box {
  // Vertically align to 35% and horizontally to 50%
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#login-box #logo {
  width: 300px;
  margin: 10% 0
}

#login-box #toolbar {
  margin-top: 2em;
}

#login-box button {
  width: 50%;
  background-color: white;
  color: #3490dc;
  display: inline;
}

#login-box button:hover {
  background-color: #3490dc;
  color: white;
}

#login-box #misc {
  text-align: right;
}

.loginpage-wrapper {
  margin: 1em;
  padding: 1em;
  border: 5px #009fe0 dotted;
  height: calc(100vh - 4em);
  overflow-y: scroll;
}

